@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #0D0D2B;
}

::-webkit-scrollbar {
  background-color: #112240;
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #1690ff;
}